.welcome-page{
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg,#d9e0ea,#c2e9fb);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: 0;
}
.input-container{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.task-inp{
    width: 350px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}
.add-btn{
    padding: 12px 20px;
    font-size: 16px;
    background-color: #2F80ED;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.add-btn:hover{
    background-color: #1769D2;
}
.todo-table{
    margin-top: 30px;
    width: 80%;
    max-width: 900px;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    border-radius: 8px;
    overflow: hidden;
}
.todo-table th,
.todo-table td{
    padding: 14px;
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
}
.todo-table th{
    background: #f8f8f8;
    font-weight: bold;
}
.todo-table tr:last-child td{
    border-bottom: none;
}
input[type='checkbox']{
    width: 18px;
    height: 18px;
    display: flex;
    align-self: center;
    justify-self: center;
    margin-right: 20px;
}


