nav{
    margin-bottom: 0 !important;
}
.welcome-page{
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg,#d9e0ea,#c2e9fb);
    height: 100vh;
    /* display: flex; */
    /* flex-direction: column;
    align-items: center; */
    /* justify-content: center; */
    margin: 0;
}
.wlcm-text{
    padding-left: 30px;
}